<div>
    <h2>Mobile Plans</h2>
    <!--
    <div class="table table-dark table-bordered table-striped" >
        <table class="center container-fluid col-lg-6">
            <tr>
                <th>PLAN ID</th><th>PLAN TYPE</th><th>PRICE</th><th>NUMBER OF LINES</th>
            </tr>
            <tr *ngFor="let plan of planList">
                <td>{{ plan.planId}}</td>
                <td>{{ plan.planType }}</td> 
                <td>${{ plan.price }}.00</td>
                <td>{{plan.num_of_lines}}</td>
            </tr>
        </table>
    
    </div>  
-->
    <!-- <div class="container-fluid">
        <div class="row">
            <tr *ngFor="let plan of planList">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{plan.planType}}</h5>
                            <p class="card-text">{{plan.price}}</p>
                            <p class="card-lines">{{plan.num_of_lines}}</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </tr>
        </div>
    </div> -->

    <div class="row">
        <div class="card" style="width: 18rem; margin: 20px; " *ngFor="let plan of planList">
            <mat-card style="font: bold; text-size-adjust: 4; " >
                <mat-card-title>
                    <h1>Plan {{ plan.planId}}</h1>
                </mat-card-title>
                <mat-card-content>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reception-4" viewBox="0 0 16 16">
                            <path d="M0 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-5zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-8zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-11z"/>
                          </svg>
                        Unlimited 5G,
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-text-fill" viewBox="0 0 16 16">
                            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
                          </svg>
                        Unlimited Text,
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-forward-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zm10.761.135a.5.5 0 0 1 .708 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 0 1-.708-.708L14.293 4H9.5a.5.5 0 0 1 0-1h4.793l-1.647-1.646a.5.5 0 0 1 0-.708z"/>
                      </svg>
                    Unlimited Calling!!!!
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                            <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                          </svg>
                        {{ plan.planType }} 
                        ${{ plan.price }}.00
                        </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                          </svg>
                        lines {{plan.num_of_lines}}
                    </div>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-flat-button (click)="open(content)">Get plan</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <h3>Add a Plan to Device</h3>
        <form (ngSubmit)="addPlan(); planForm.reset()"id= "add plan" #planForm>
            <div><label class="col-lg-2" for ="phone-number">Phone Number</label><input [(ngModel)]="phoneNumber" class="phone-number" type="text" id="phone-number" name="phone-number" placeholder="###-###-####"></div>
            <div><label class="col-lg-2" for ="plan-id">Plan ID</label><input [(ngModel)]="planID" class="plan-id" type="text" id="plan-id" name="plan-id"></div>
            <div class= "SubmitButton col-lg-2"><input class="btn btn-primary grey-button" type="submit" id="add-device" value="Add Device"></div>
        </form>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Plan</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="addPlan(); planForm.reset()"id= "add plan" #planForm>
            <div><label class="col-lg-2" for ="phone-number">Phone Number</label><input [(ngModel)]="phoneNumber" class="phone-number" type="text" id="phone-number" name="phone-number" placeholder="###-###-####"></div>
            <div><label class="col-lg-2" for ="plan-id">Plan ID</label><input [(ngModel)]="planID" class="plan-id" type="text" id="plan-id" name="plan-id"></div>
            <div class= "SubmitButton col-lg-2"><input class="btn btn-primary grey-button" type="submit" id="add-plan" value="Add Plan"></div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>