<html>
<div>

    <!-- <app-add-device [userID] = "id"></app-add-device> -->

    <h2>Manage Devices</h2>
    <div class="table table-dark table-bordered table-striped col-lg-12">
        <table id="device_table" class="center">
            <tr>
                <th>Number</th><th>Model</th><th>Plan</th><th>User_ID</th>
            </tr>

            <tr *ngFor="let device of deviceList2">
                
                <td>{{ device.phoneNumber }}</td> 
                <td>{{ device.device_model }}</td>
                <td>{{device.plan?.planId || 'No plan'}}</td>
                <td>{{device.user?.customerId || 'No Customer'}}</td>

                             
            </tr>
        </table>
    </div>
</div> 
<form  (ngSubmit)="findByID(); sendID();" >
    <div>customerId:<input type="text" name="customerId" [(ngModel)]="id"/></div>
    <div class= "SumbitButton"><input class="btn btn-primary grey-button" type="submit" id="Find" value="Find User"></div>
</form>


</html>


