<html>
<div>
    <div>
        <h2 class="center">Manage Devices</h2>
    </div>
    <div class="table table-dark table-bordered table-striped">
        <table id="device_table" class="center container-fluid col-lg-8">
            <tr>
                <th>Number</th><th>Model</th><th>Plan</th><th>User_ID</th>
            </tr>

            <tr *ngFor="let device of deviceList2">
                
                <td (click)="editCell($event)" (blur)="updatePhone($event)">{{ device.phoneNumber }}</td> 
                <td>{{ device.device_model }}</td>
                <td>{{device.plan?.planId || 'No plan'}}</td>
                <td>{{device.user?.customerId || 'No Customer'}}</td>
                <button (click)="delete(device.phoneNumber)" class="btn btn-primary">If Only</button>

                             
            </tr>

        </table>
        
    </div>

</div> 
<!-->
<form  (ngSubmit)="findByID(); sendId(id)" >
    <div>customerId:<input type="text" name="customerId" [(ngModel)]="id"/></div>
    <div class= "SumbitButton"><input class="btn btn-primary grey-button" type="submit" id="Find" value="Find User"></div>

</form>
<-->


</html>


