<html>
<div>
    <h2>Manage Devices</h2>

    <form id= "add device">
        <div><label class="form-label" for ="phone-number">Phone Number</label><input class="phone-number" type="text" id="renter-name" name="phone-number"></div>
        <div><label class="form-label" for ="device-model">Model Number</label><input class="device-model" type="text" id="device-model" name="device-model"></div>
        <div class= "SumbitButton"><input class="btn btn-primary grey-button" type="submit" id="add-renter" value="Add Renter"></div>


    </form>
    <div class="table table-dark table-bordered table-striped col-lg-12">
        <table class="center">
            <tr>
                <th>Number</th><th>Model</th><th>Plan</th>
            </tr>
            <tr *ngFor="let device of deviceList">
                
                <td>{{ device.phoneNumber }}</td> 
                <td>{{ device.device_model }}</td>
                <td>{{device.plan?.planId || 'No plan'}}</td>
                             
            </tr>
        </table>
    </div>
</div>


</html>


