<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<div class="container-fluid">
  <div>
    <nav class="navbar navbar-dark bg-dark">
      <div><h1 style="color: white;">Mafia Communcation®</h1></div>
    </nav>
    <a class="navbar-brand" href="#">
      
    </a>
    <a [routerLink]="['/plans']">Manage Plans</a> |
      <a [routerLink]="['/device']">Manage Device</a>
    <app-add-device></app-add-device>
    <app-new-number></app-new-number>
    <router-outlet></router-outlet>
  </div>
</div>

