<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body style="background-image: url('../assets/wallpaper.jpg');">
<div class="container-fluid" >
  <div>
    <nav class="navbar navbar-dark bg-dark">
      <div><h1 style="color: white;">Incognito Communcations®</h1></div>
      <app-estimated-price></app-estimated-price>

    </nav>
    <a class="navbar-brand">
      
    </a>

    <nav class="navbar navbar-dark bg-dark">
      <a [routerLink]="['/new-user']">Create User</a> |
      <a [routerLink]="['/login']">Login</a> |
      <a [routerLink]="['/plans']">Manage Plans</a> |
      <a [routerLink]="['/device']">Manage Device</a> |
      <a [routerLink]="['/add-device']">Add Device</a> |
      <!-- <a [routerLink]="['/new-number']">Change Number</a> |
      <a [routerLink]="['/delete-device']">Delete Device</a> -->
    </nav>
    <router-outlet></router-outlet>
    <div>
      <img src="../assets/lotsofphones2.jpg" alt="bruh" class="img1">
    </div>
  </div>
</div>
</body>



